#view1 {
    height: 200px;
    /* background-color: blue; */
}

.avatar-view {
    float: left;
    margin-left: 10px;
    margin-top: 16px;
}

.info-view {
    float: left;
    margin-left: 30px;
    margin-top: 16px;
}